fastapi==0.115.0
uvicorn[standard]==0.30.6
python-dotenv==1.0.1
pydantic==2.9.2

# LangGraph + LLMs
langchain==0.3.7
langchain-openai==0.2.9
langchain-groq>=0.2,<0.3
langchain-core==0.3.36
langgraph==0.2.48
openai==1.54.4

# MCP Integration
langchain-mcp-adapters==0.1.3
mcp==1.9.1

# AWS
boto3==1.35.54
botocore==1.35.54

# Scheduler
APScheduler==3.10.4

# Utils
httpx==0.27.2
hvac==2.3.0          # HashiCorp Vault client


PyJWT>=2.8.0
cryptography>=41.0.0
